@import 'tailwindcss';

:root {
  --body-background: hsl(13, 31%, 94%);
  --background: #fcf9f7;
  --foreground: #171717;
  --light-text: hsl(12, 20%, 44%);
}

body {
  background-color: var(--body-background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
